@using AeroVault.Models;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AeroVault</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AeroVault.styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        @if (ViewData["HideNavbar"] == null || !(bool)ViewData["HideNavbar"])
        {
            @if (ViewData["CustomNavbar"] != null && (bool)ViewData["CustomNavbar"])
            {
                <nav class="navbar navbar-expand-sm navbar-dark bg-primary user-navbar">
                    <div class="container-fluid">
                        <a class="navbar-brand d-flex align-items-center">
                            <img src="/Content/Assets/AeroVault-Logo.svg" alt="AeroVault Logo" width="165px" class="d-inline-block align-top">
                        </a>
                        <img src="/Content/Assets/LogoutIcon.svg" class="logout-icon2" alt="Logout-icon" />
                        <img src="/Content/Assets/admin-sidebar-collapse.svg" alt="sidebar-collapse-icon" id="user-sidebar-toggle" class="user-sidebar-toggle" />

                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav centered-links">
                                <li class="nav-item">
                                    <a class="nav-link @(ViewData["IsDashboardActive"] != null && (bool)ViewData["IsDashboardActive"] ? "text-white fw-bold" : "text-white-50")"
                                       asp-area="" asp-controller="UserOverview" asp-action="UserPageOverview">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(ViewData["IsDashboardActive"] == null || !(bool)ViewData["IsDashboardActive"] ? "text-white fw-bold" : "text-white-50")"
                                       asp-area="" asp-controller="UserFileRepository" asp-action="FileRepository">File Repository</a>
                                </li>
                            </ul>
                            <div class="navbar-icons d-flex align-items-center">
                                <img src="/Content/Assets/UserProfilePic.svg" alt="User  Icon" width="30" height="30" class="rounded-circle" style="cursor:pointer;">
                                <img src="/Content/Assets/Line.svg" class="line-seperator" alt="Line separator" style="width:1px; margin-left:15px;" />
                                <img src="/Content/Assets/LogoutIcon.svg" alt="Logout Icon" class="logout-icon" style="width:20px; cursor:pointer; margin-left:15px;" />
                            </div>
                        </div>
                    </div>
                </nav>
            }
        }
    </header>

    <main role="main" class="flex-grow-1">
        @RenderBody()
    </main>

    @if (ViewData["HideNavbar"] == null || !(bool)ViewData["HideNavbar"])
    {
        <footer class="footer-section">
            <div class="footer-content">
                <img src="/Content/Assets/copyright-icon.svg" alt="Copyright Icon" class="copyright-icon">
                <span>2025 Sri Lankan IT Systems. All Rights Reserved.</span>
            </div>
        </footer>
    }

    <div id="dark-overlay5" class="dark-overlay" style="display: none;"></div>
    @Html.Partial("UserPopups/_UserLogoutPopup", new UserLogoutPopupModel())

    <div id="dark-overlay6" class="dark-overlay6" style="display: none;"></div>
    @Html.Partial("UserPopups/_UserProfilePopup", new UserProfilePopupModel())

    <div id="dark-overlay7" class="dark-overlay" style="display: none;"></div>
    @Html.Partial("UserPopups/_UserSidebar", new UserSidebarModel())

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/Scripts/UserLayoutScripts.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>