@using System.Linq
@model List<SystemModel>


    <link rel="stylesheet" href="~/css/AdminSystems.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <div class="admin-main-content">
        <div class="header-container">
            <h2 class="systems-header" id="systems-header">
                Select a System to Manage
            </h2>
            <button class="add-system-button">
                <img src="~/Assets/add-icon.svg" alt="Add Icon" class="button-icon" />
                Add New System
            </button>
        </div>


        <div class="sidebar-container">

            <div class="sidebar2">
                <div class="search-container" style="width:90%;">
                    <img src="~/Assets/search-icon.svg" alt="Search Icon" />
                    <input id="systemSearch" onkeyup="filterSystems()" placeholder="Search System" type="text" />
                </div>
                <div class="scrollable-content scrollable-content-list">
                    <div id="systemListContainer">
                    @{
                        var systemList = Model ?? new List<SystemModel>();
                    }

                    <ul id="systemList">
                        @if (!systemList.Any())
                        {
                            <li>No systems available.</li>
                        }
                        else
                        {
                            @foreach (var system in systemList)
                            {
                                <li onclick="highlightSystem(this)">
                                    <a href="#">
                                        <img src="~/Assets/folder-icon.svg" alt="Folder icon" class="folder-icon" />
                                        @system.SystemName
                                    </a>
                                </li>
                            }
                        }
                    </ul>

                   














                        <div class="custom-form-group">
                            <h2 class="systems-header systems-header-label">
                                Select a System to Manage
                            </h2>
                            <div class="custom-dropdown">
                                <div class="custom-dropdown-toggle custom-selector" onclick="toggleCustomDropdown(event)">
                                    <span id="selected-option" style="color:#333333;">Select a system</span>
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                                <div class="custom-dropdown-content">
                                    <div class="custom-search-container">
                                        <img src="~/Assets/search-icon.svg" alt="Search Icon" />
                                        <input type="text" id="custom-search-input" placeholder="Search system" onkeyup="filterCustomOptions()" onclick="event.stopPropagation()">
                                    </div>
                                    @* <div class="custom-dropdown-list">
                                        <div onclick="selectCustomOption(this)">Information Technology</div>
                                        
                                        @foreach (var system in Model)
                                        {
                                            <div onclick="selectCustomOption(this)">
                                                @system.SystemName
                                            </div>                                           
                                        }
                                    </div> *@






                                <div class="custom-dropdown-list">
                                    <div onclick="selectCustomOption(this)">Information Technology</div>

                                    @foreach (var system in systemList)
                                    {
                                        <div onclick="selectCustomOption(this)">
                                            @system.SystemName
                                        </div>
                                    }
                                </div>















                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="image-container">
                <img src="~/Assets/system-background-icon.svg" alt="System Background Image" />
            </div>

            <div class="system-container" style="display: none;">
                <div class="header-system-container">
                    <div class="first-container">
                        <h2 class="systems-name">System Name</h2>
                        <div class="button-container" style="margin-top:0px;">
                            <button class="edit-system-button">
                                <img src="~/Assets/system-details-edit-icon.svg" alt="Add Icon" class="button-icon" />
                                Edit
                            </button>
                            <button class="delete-system-button">
                                <img src="~/Assets/system-delete-icon.svg" alt="Add Icon" class="button-icon" />
                                Delete
                            </button>
                        </div>
                    </div>
                    <div class="file-search-container">
                        <img src="~/Assets/search-icon.svg" class="search-icon" alt="Search Icon" />
                        <input id="SystemfileSearch" onkeyup="filterFiles()" placeholder="Search" type="text" class="file-search-input" />
                    </div>
                </div>


                <div class="table-container">
                    <div class="scrollable-tbody">
                        <table class="file-table">
                            <colgroup>
                                <col style="width: 60%;">
                                <col style="width: 30%;">
                                <col style="width: 10%;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>File name</th>
                                    <th>File Category</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img src="~/Assets/system-video-icon.svg" alt="Video Icon" class="file-icon" /> Maintenance Procedure Overview</td>
                                    <td>Training</td>
                                    <td>
                                        <img src="~/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="~/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="~/Assets/system-doc-icon.svg" alt="Document Icon" class="file-icon" /> Aircraft Maintenance Checklist</td>
                                    <td>Technical</td>
                                    <td>
                                        <img src="~/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="~/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="~/Assets/system-video-icon.svg" alt="Video Icon" class="file-icon" /> Maintenance Procedure Overview</td>
                                    <td>Training</td>
                                    <td>
                                        <img src="~/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="~/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="~/Assets/system-video-icon.svg" alt="Video Icon" class="file-icon" /> Maintenance Procedure Overview</td>
                                    <td>Training</td>
                                    <td>
                                        <img src="~/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="~/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="~/Assets/system-doc-icon.svg" alt="Document Icon" class="file-icon" /> Aircraft Maintenance Checklist</td>
                                    <td>Technical</td>
                                    <td>
                                        <img src="~/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="~/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="~/Assets/system-video-icon.svg" alt="Video Icon" class="file-icon" /> Maintenance Procedure Overview</td>
                                    <td>Training</td>
                                    <td>
                                        <img src="~/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="~/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="~/Assets/system-video-icon.svg" alt="Video Icon" class="file-icon" /> Maintenance Procedure Overview</td>
                                    <td>Training</td>
                                    <td>
                                        <img src="~/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="~/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="~/Assets/system-doc-icon.svg" alt="Document Icon" class="file-icon" /> Aircraft Maintenance Checklist</td>
                                    <td>Technical</td>
                                    <td>
                                        <img src="~/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="~/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="~/Assets/system-video-icon.svg" alt="Video Icon" class="file-icon" /> Maintenance Procedure Overview</td>
                                    <td>Training</td>
                                    <td>
                                        <img src="~/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="~/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="~/Assets/system-video-icon.svg" alt="Video Icon" class="file-icon" /> Maintenance Procedure Overview</td>
                                    <td>Training</td>
                                    <td>
                                        <img src="~/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="~/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="~/Assets/system-doc-icon.svg" alt="Document Icon" class="file-icon" /> Aircraft Maintenance Checklist</td>
                                    <td>Technical</td>
                                    <td>
                                        <img src="~/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="~/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="~/Assets/system-video-icon.svg" alt="Video Icon" class="file-icon" /> Maintenance Procedure Overview</td>
                                    <td>Training</td>
                                    <td>
                                        <img src="~/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="~/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="~/Assets/system-video-icon.svg" alt="Video Icon" class="file-icon" /> Maintenance Procedure Overview</td>
                                    <td>Training</td>
                                    <td>
                                        <img src="~/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="~/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="~/Assets/system-doc-icon.svg" alt="Document Icon" class="file-icon" /> Aircraft Maintenance Checklist</td>
                                    <td>Technical</td>
                                    <td>
                                        <img src="~/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="~/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="~/Assets/system-video-icon.svg" alt="Video Icon" class="file-icon" /> Maintenance Procedure Overview</td>
                                    <td>Training</td>
                                    <td>
                                        <img src="~/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="~/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="~/Assets/system-video-icon.svg" alt="Video Icon" class="file-icon" /> Maintenance Procedure Overview</td>
                                    <td>Training</td>
                                    <td>
                                        <img src="~/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="~/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="~/Assets/system-doc-icon.svg" alt="Document Icon" class="file-icon" /> Aircraft Maintenance Checklist</td>
                                    <td>Technical</td>
                                    <td>
                                        <img src="~/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="~/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="~/Assets/system-video-icon.svg" alt="Video Icon" class="file-icon" /> Maintenance Procedure Overview</td>
                                    <td>Training</td>
                                    <td>
                                        <img src="~/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="~/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Overlay -->
    <!-- Overlay for popups -->

    <div id="dark-overlay" class="dark-overlay" style="display: none;"></div>
    @Html.Partial("AdminSystemPopups/_AdminAddSystemPopup", new AeroVault.Views.Shared.AdminSystemPopups._AdminAddSystemPopupModel())

    <div id="dark-overlay1" class="dark-overlay" style="display: none;"></div>
    @Html.Partial("AdminSystemPopups/_AdminEditSystemPopup", new AeroVault.Views.Shared.AdminSystemPopups._AdminEditSystemPopupModel())

    <div id="dark-overlay2" class="dark-overlay" style="display: none;"></div>
    @Html.Partial("AdminSystemPopups/_AdminSystemDelete", new AeroVault.Views.Shared.AdminSystemPopups._AdminSystemDeleteModel())

    <div id="dark-overlay3" class="dark-overlay" style="display: none;"></div>
    @Html.Partial("AdminSystemPopups/_AdminSystemSuccessfullyAdded", new AeroVault.Views.Shared.AdminSystemPopups._AdminSystemSuccessfullyAddedModel())

    <div id="dark-overlay4" class="dark-overlay" style="display: none;"></div>
    @Html.Partial("AdminSystemPopups/_AdminFileDelete", new AeroVault.Views.Shared.AdminSystemPopups._AdminFileDeleteModel())

    <div id="dark-overlay5" class="dark-overlay" style="display: none;"></div>
    @Html.Partial("AdminSystemPopups/_AdminFileEdit", new AeroVault.Views.Shared.AdminSystemPopups._AdminFileEditModel())

    <script src="~/js/AdminSystemScripts.js"></script>

    <script>
        function toggleCustomDropdown(event) {
            event.stopPropagation();
            var dropdownContent = document.querySelector('.custom-dropdown-content');
            var dropdownToggle = document.querySelector('.custom-dropdown-toggle');
            var selector = document.querySelector('.custom-selector');

            if (dropdownContent.style.display === 'block') {
                dropdownContent.style.display = 'none';
                dropdownToggle.classList.remove('open');
                selector.style.borderBottomLeftRadius = '10px';
                selector.style.borderBottomRightRadius = '10px';
                selector.style.borderBottom = '1px solid #6D6D6D';
            } else {
                dropdownContent.style.display = 'block';
                dropdownToggle.classList.add('open');
                selector.style.borderBottomLeftRadius = '0';
                selector.style.borderBottomRightRadius = '0';
                selector.style.borderBottom = 'none';
                document.getElementById('custom-search-input').value = '';
                showAllCustomOptions();
            }
        }

        function filterCustomOptions() {
            var input = document.getElementById('custom-search-input');
            var filter = input.value.toUpperCase();
            var divs = document.querySelectorAll('.custom-dropdown-list div');

            divs.forEach(function (div) {
                var txtValue = div.textContent || div.innerText;
                div.style.display = txtValue.toUpperCase().indexOf(filter) > -1 ? '' : 'none';
            });
        }

        function selectCustomOption(element) {
            var selectedOption = element.textContent || element.innerText;
            document.getElementById('selected-option').textContent = selectedOption;
            document.querySelector('.custom-dropdown-content').style.display = 'none';
            document.querySelector('.custom-dropdown-toggle').classList.remove('open');

            var selector = document.querySelector('.custom-selector');
            selector.style.borderBottomLeftRadius = '10px';
            selector.style.borderBottomRightRadius = '10px';
            selector.style.borderBottom = '1px solid #6D6D6D';

            var divs = document.querySelectorAll('.custom-dropdown-list div');
            divs.forEach(div => div.classList.remove('active'));
            element.classList.add('active');

            document.querySelector('.systems-name').innerText = selectedOption;

            document.querySelector('.image-container').style.display = 'none';
            document.querySelector('.system-container').style.display = 'block';
        }

        function showAllCustomOptions() {
            var divs = document.querySelectorAll('.custom-dropdown-list div');
            divs.forEach(div => div.style.display = "");
        }

        window.addEventListener('click', function (event) {
            var dropdownContent = document.querySelector('.custom-dropdown-content');
            var dropdownToggle = document.querySelector('.custom-dropdown-toggle');
            var selector = document.querySelector('.custom-selector');

            if (!dropdownToggle.contains(event.target) && dropdownContent.style.display === 'block') {
                dropdownContent.style.display = 'none';
                dropdownToggle.classList.remove('open');
                selector.style.borderBottomLeftRadius = '10px';
                selector.style.borderBottomRightRadius = '10px';
                selector.style.borderBottom = '1px solid #6D6D6D';
            }
        });


        function populateCustomDropdown() {
            var dropdownList = document.querySelector('.custom-dropdown-list');

            dropdownList.innerHTML = '';

            var systemListItems = document.querySelectorAll('#systemList li');

            systemListItems.forEach(function (item) {
                var systemName = item.innerText.trim();

            

                var dropdownItem = document.createElement('div');
                dropdownItem.textContent = systemName;

                dropdownItem.onclick = function () {
                    selectCustomOption(dropdownItem);
                };

                dropdownList.appendChild(dropdownItem);
            });

            if (dropdownList.children.length === 0) {
                console.log("No items found to populate the dropdown.");
            }
        }

        window.addEventListener('load', function () {

            console.log("Window loaded, populating dropdown...");

            populateCustomDropdown();

        });

        document.querySelector('.add-system-button').addEventListener('click', function() {

            document.getElementById('addsystem-popup').style.display = 'block';

            loadDivisions(); // Call to load divisions when the popup is opened
            showAddSystemPopup()

        });

        

    </script>
