@using System.Linq
@model List<SystemModel>

@{
    Layout = null; 
}

    <link rel="stylesheet" href="/Content/css/AdminSystems.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <div class="admin-main-content">
        <div class="header-container">
            <h2 class="systems-header" id="systems-header">
                Select a System to Manage
            </h2>
            <button class="add-system-button">
                <img src="/Content/Assets/add-icon.svg" alt="Add Icon" class="button-icon" />
                Add New System
            </button>
        </div>

        <div class="sidebar-container">
            <div class="sidebar2">
                <div class="search-container" style="width:90%;">
                    <img src="/Content/Assets/search-icon.svg" alt="Search Icon" />
                    <input id="systemSearch" onkeyup="filterSystems()" placeholder="Search System" type="text" />
                </div>
                <div class="scrollable-content scrollable-content-list">
                    <div id="systemListContainer">
                    @{
                        var systemList = Model ?? new List<SystemModel>();
                    }

                    <ul id="systemList">
                        @if (!systemList.Any())
                        {
                            <li>No systems available.</li>
                        }
                        else
                        {
                            @foreach (var system in systemList)

                            {

                                <li onclick="highlightSystem(this)"
                                    data-system-description="@(system.Description ?? string.Empty)">

                                    <a href="#">

                                        <img src="/Content/Assets/folder-icon.svg" alt="Folder icon" class="folder-icon" />

                                        @system.SystemName

                                    </a>

                                </li>

                            }
                        }
                    </ul>  

                        <div class="custom-form-group">
                            <h2 class="systems-header systems-header-label">
                                Select a System to Manage
                            </h2>
                            <div class="custom-dropdown">
                                <div class="custom-dropdown-toggle custom-selector" onclick="toggleCustomDropdown(event)">
                                    <span id="selected-option" style="color:#333333;">Select a system</span>
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                                <div class="custom-dropdown-content">
                                    <div class="custom-search-container">
                                        <img src="/Content/Assets/search-icon.svg" alt="Search Icon" />
                                        <input type="text" id="custom-search-input" placeholder="Search system" onkeyup="filterCustomOptions()" onclick="event.stopPropagation()">
                                    </div>
                                    <div class="custom-dropdown-list">
                                        @* <div onclick="selectCustomOption(this)"></div> *@

                                            @foreach (var system in systemList)

                                            {

                                                <div onclick="selectCustomOption(this)"
                                                     data-system-description="@(system.Description ?? string.Empty)">

                                                    @system.SystemName

                                                </div>

                                            }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="image-container">
                <img src="/Content/Assets/system-background-icon.svg" alt="System Background Image" />
            </div>

            <div class="system-container" style="display: none;">
                <div class="header-system-container">
                    <div class="first-container">
                        <h2 class="systems-name">System Name</h2>
                        <div class="button-container" style="margin-top:0px;">
                            <button class="edit-system-button">
                                <img src="/Content/Assets/system-details-edit-icon.svg" alt="Add Icon" class="button-icon" />
                                Edit
                            </button>
                            <button class="delete-system-button">
                                <img src="/Content/Assets/system-delete-icon.svg" alt="Add Icon" class="button-icon" />
                                Delete
                            </button>
                        </div>
                    </div>
                    <div class="file-search-container">
                        <img src="/Content/Assets/search-icon.svg" class="search-icon" alt="Search Icon" />
                        <input id="SystemfileSearch" onkeyup="filterFiles()" placeholder="Search" type="text" class="file-search-input" />
                    </div>
                </div>

                <div class="table-container">
                    <div class="scrollable-tbody">
                        <table class="file-table">
                            <colgroup>
                                <col style="width: 60%;">
                                <col style="width: 30%;">
                                <col style="width: 10%;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>File name</th>
                                    <th>File Category</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img src="/Content/Assets/system-video-icon.svg" alt="Video Icon" class="file-icon" /> Maintenance Procedure Overview</td>
                                    <td>Training</td>
                                    <td>
                                        <img src="/Content/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="/Content/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="/Content/Assets/system-doc-icon.svg" alt="Document Icon" class="file-icon" /> Aircraft Maintenance Checklist</td>
                                    <td>Technical</td>
                                    <td>
                                        <img src="/Content/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="/Content/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="/Content/Assets/system-video-icon.svg" alt="Video Icon" class="file-icon" /> Maintenance Procedure Overview</td>
                                    <td>Training</td>
                                    <td>
                                        <img src="/Content/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="/Content/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="/Content/Assets/system-video-icon.svg" alt="Video Icon" class="file-icon" /> Maintenance Procedure Overview</td>
                                    <td>Training</td>
                                    <td>
                                        <img src="/Content/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="/Content/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="/Content/Assets/system-doc-icon.svg" alt="Document Icon" class="file-icon" /> Aircraft Maintenance Checklist</td>
                                    <td>Technical</td>
                                    <td>
                                        <img src="/Content/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="/Content/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="/Content/Assets/system-video-icon.svg" alt="Video Icon" class="file-icon" /> Maintenance Procedure Overview</td>
                                    <td>Training</td>
                                    <td>
                                        <img src="/Content/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="/Content/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="/Content/Assets/system-video-icon.svg" alt="Video Icon" class="file-icon" /> Maintenance Procedure Overview</td>
                                    <td>Training</td>
                                    <td>
                                        <img src="/Content/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="/Content/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="/Content/Assets/system-doc-icon.svg" alt="Document Icon" class="file-icon" /> Aircraft Maintenance Checklist</td>
                                    <td>Technical</td>
                                    <td>
                                        <img src="/Content/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="/Content/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="/Content/Assets/system-video-icon.svg" alt="Video Icon" class="file-icon" /> Maintenance Procedure Overview</td>
                                    <td>Training</td>
                                    <td>
                                        <img src="/Content/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="/Content/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="/Content/Assets/system-video-icon.svg" alt="Video Icon" class="file-icon" /> Maintenance Procedure Overview</td>
                                    <td>Training</td>
                                    <td>
                                        <img src="/Content/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="/Content/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="/Content/Assets/system-doc-icon.svg" alt="Document Icon" class="file-icon" /> Aircraft Maintenance Checklist</td>
                                    <td>Technical</td>
                                    <td>
                                        <img src="/Content/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="/Content/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="/Content/Assets/system-video-icon.svg" alt="Video Icon" class="file-icon" /> Maintenance Procedure Overview</td>
                                    <td>Training</td>
                                    <td>
                                        <img src="/Content/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="/Content/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="/Content/Assets/system-video-icon.svg" alt="Video Icon" class="file-icon" /> Maintenance Procedure Overview</td>
                                    <td>Training</td>
                                    <td>
                                        <img src="/Content/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="/Content/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="/Content/Assets/system-doc-icon.svg" alt="Document Icon" class="file-icon" /> Aircraft Maintenance Checklist</td>
                                    <td>Technical</td>
                                    <td>
                                        <img src="/Content/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="/Content/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="/Content/Assets/system-video-icon.svg" alt="Video Icon" class="file-icon" /> Maintenance Procedure Overview</td>
                                    <td>Training</td>
                                    <td>
                                        <img src="/Content/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="/Content/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="/Content/Assets/system-video-icon.svg" alt="Video Icon" class="file-icon" /> Maintenance Procedure Overview</td>
                                    <td>Training</td>
                                    <td>
                                        <img src="/Content/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="/Content/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="/Content/Assets/system-doc-icon.svg" alt="Document Icon" class="file-icon" /> Aircraft Maintenance Checklist</td>
                                    <td>Technical</td>
                                    <td>
                                        <img src="/Content/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="/Content/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="/Content/Assets/system-video-icon.svg" alt="Video Icon" class="file-icon" /> Maintenance Procedure Overview</td>
                                    <td>Training</td>
                                    <td>
                                        <img src="/Content/Assets/system-file-edit-icon.svg" alt="File Edit Icon" class="file-option-icon file-edit-icon" />
                                        <img src="/Content/Assets/system-file-delete-icon.svg" alt="File Delete Icon" class="file-option-icon file-delete-icon" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div id="dark-overlay123" class="dark-overlay123" style="display: none;"></div>
<div id="success-popup" class="modal-success" style="display: none;">
    <div class="modal-header-success" style="display: flex; align-items: center;">
        <h2 style="margin: 0; margin-bottom: 20px;">Success</h2>
        <img src="/Content/Assets/close-icon.svg" id="close-success-popup" style="margin-left: auto; cursor: pointer;" />
    </div>
    <div class="modal-body-success">
        <p id="success-message"></p>
    </div>
    <div class="modal-footer">
        <button class="ok-btn" id="ok-success-btn">OK</button>
    </div>
</div>

    <!-- Overlay for popups -->
    <div id="dark-overlay" class="dark-overlay" style="display: none;"></div>
    @Html.Partial("AdminSystemPopups/_AdminAddSystemPopup", new AeroVault.Views.Shared.AdminSystemPopups._AdminAddSystemPopupModel())

    <div id="dark-overlay1" class="dark-overlay" style="display: none;"></div>
    @Html.Partial("AdminSystemPopups/_AdminEditSystemPopup", new AeroVault.Views.Shared.AdminSystemPopups._AdminEditSystemPopupModel())

    <div id="dark-overlay2" class="dark-overlay" style="display: none;"></div>
    @Html.Partial("AdminSystemPopups/_AdminSystemDelete", new AeroVault.Views.Shared.AdminSystemPopups._AdminSystemDeleteModel())

    <div id="dark-overlay3" class="dark-overlay" style="display: none;"></div>
    @Html.Partial("AdminSystemPopups/_AdminSystemSuccessfullyAdded", new AeroVault.Views.Shared.AdminSystemPopups._AdminSystemSuccessfullyAddedModel())

    <div id="dark-overlay4" class="dark-overlay" style="display: none;"></div>
    @Html.Partial("AdminSystemPopups/_AdminFileDelete", new AeroVault.Views.Shared.AdminSystemPopups._AdminFileDeleteModel())

    <div id="dark-overlay5" class="dark-overlay" style="display: none;"></div>
    @Html.Partial("AdminSystemPopups/_AdminFileEdit", new AeroVault.Views.Shared.AdminSystemPopups._AdminFileEditModel())

    <script src="/Scripts/AdminSystemScripts.js"></script>